#include "winuser.h"
#include "winver.h"

#define VER_FILEVERSION             1,0,0,1
#define VER_FILEVERSION_STR         "1.0.0.1"

#define VER_PRODUCTVERSION          1,0,0,1
#define VER_PRODUCTVERSION_STR      "1.0.0.1"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#define IDI_ICON 0x101

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "algebrisk.exe.manifest"

IDI_ICON ICON "algebrisk.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_UNKNOWN
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "JP Nickolas"
            VALUE "FileDescription",  "Algebrisk"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "Algebrisk"
            VALUE "LegalCopyright",   "Copyright (C) Nick Hilton 2022"
            VALUE "OriginalFilename", "Algebrisk"
            VALUE "ProductName",      "Algebrisk"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END